<!DOCTYPE html>
<html>
    <head>
        <title>Friends</title>
        <meta charset="UTC-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div id="wrapper">
            <div id="table">
                <h3>Friends</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Friend Since</th>
                        <th></th>
                    </tr>
                    {% for friend in friends: %}
                    <tr>
                        <td>{{ friend['first_name'] }} {{ friend['last_name'] }} </td>
                        <td>{{ friend['age']}}</td>
                        <td>{{ friend['created_at']}}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            <form action='/friends' method='POST'>
                <h3>add a friend</h3>
                <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
                <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
                <label for="age">age:<input type="text" name="age" id="age"></label>
                <input type="submit" value="Add">
              </form>
        </div>
    </body>
</html>